.encontrar-gamers {
    color: white;
}

/* Bienvenido a Plugged In */
.titulo-principal {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    padding: 15px;
    border-bottom: solid #8276a8;
    color: aqua;
}

/* divs que agrupan "Publica tu anuncio! */
.publicar-anuncio {
    border-bottom: solid #8276a8;
}

.form-group {
    padding: 35px;
}
/* divs que agrupan "Publica tu anuncio! */

/* "Publica tu anuncio" y "Anuncios Publicados" Titulo */
.titulo-textarea  {
    font-size: 25px;
    padding: 15px;
    color: white;
    background-color: rgba(0, 255, 255, 0.048);
    border-radius: 15px;
}

.cuerpo-textarea {
    background-color: rgb(172, 248, 248);
    max-width: 600px;
}

.cuerpo-textarea:focus {
    background-color: aqua;
}

.dropdown {
    margin: 0px 15px;
}

/* div que agrupa "Anuncios Publicados */
.anuncios-publicados {
    padding: 25px;
    min-width: 600px;
    height: auto;
    margin-right: 0;
}

/* informacion del user en el anuncio */
.user-anuncio {
    color: white;
    padding: 20px;
    margin: auto;
}

.info-anuncio {
    display: flex;
    padding: 5px 15px;
    font-size: 20px;
}

.cuerpo-anuncio {
    padding: 5px 15px;
    width: 800px;
    height: 150px;
    border: solid #8276a8;
    border-radius: 5px;
}

.contacto-anuncio {
    padding: 5px 15px;
    margin-left: 10px;
    width: 400px;
    border: solid #8276a8;
    border-radius: 5px;
}


.autocomplete-juegos {
    padding: 10px;
    margin-bottom: 15px;
}

.comment-section {
    list-style: none;
    padding-left: 0px;
    border-top: solid rgba(0, 0, 0, 0.39);
    padding-bottom: 10px;
}


.Container-Input{
    background: none;
    padding-right: 150px;
    position: relative;
    margin:absolute;
}

.Container-Input input{
    border-image-source: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    border-width: 0 0 1px;
    border-image-slice: 1;
    width: 300px;
    padding: 15px 5px;
}

.Container-Input label{
    position: absolute;
    bottom: 0.8rem;
    left: 11px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.Container-Input input:valid ~ label,
.Container-Input input:focus ~ label{
    transform: translateY(-30px);
    font-size: 10px;
    background: white;
}

input:focus{
    border-image-source: linear-gradient(90deg,#00d4ff 0% , #090979 35% ,#020024 100% );
    border-width: 0 0 1px;
    border-image-slice: 1;
    outline: none;
}

.comments {
    border-bottom: solid rgba(128, 128, 128, 0.25);
    padding-top: 15px;
}