.navbar {
    background-color: #101733;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.navbar-logo {
    height: 60px;
}
.navbar-logo-titulo {
    padding-top: 5px;
    padding-left: 10px;
    width: 130px;
}
.btn-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
}
.btn-link:hover{
    color: rgb(172, 173, 199);
}