.navbar {
    background-color: #1d2a57;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.btn-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
}
.btn-link:hover{
    color: rgb(172, 173, 199);
}