body {
    background-color: #151E3D;
    color: black;
}
.input-btn {
    display: flex;
}
.password-icon {
    margin-left: 10px;
}

.Container-Input{
    background: none;
    padding-right: 150px;
    position: relative;
    margin:absolute;
}

.Container-Input input{
    border-image-source: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    border-width: 0 0 1px;
    border-image-slice: 1;
    width: 100%;
    padding: 12px 12px 12px 12px;
    
}

.Container-Input label{
    position: absolute;
    bottom: 0.8rem;
    left: 11px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.Container-Input input:valid ~ label,
.Container-Input input:focus ~ label{
    transform: translateY(-30px);
    font-size: 10px;
    background: white;
}

input:focus{
    border-image-source: linear-gradient(90deg,#00d4ff 0% , #090979 35% ,#020024 100% );
    border-width: 0 0 1px;
    border-image-slice: 1;
    outline: none;
}

.errorinput{
    background: black;
}

.FloatIcon{
    position: absolute;
    left:75%;
    color: red;
}

.FloatIcon:hover{
    color: red;
    border-color:white;
}
.register-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px; 
}

.card {
    width: 700px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-body {
    padding: 0;
    flex: 0;
}

/* div de la imagen */
.register-photo {
    display: flex;
    width: 500px;
    height: auto;
}
/* imagen */
.img-fluid {
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.registro-titulo {
    padding: 20px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}